:root{
    --maincolor:#15202B;
    --secondarycolor:#192734;
    --bordercolor:#164D56;
    --maintext:#fff;
    --secondarutext:#eeeeee;
    --themdotborder:#fff ;
    --Bgpreview:rgba(25,39,52,0.8);
    --previewsh:#111921;
    --buttonColor:#17a2bB ;
}  