:root{
    --maincolor:#606B56 ;
    --secondarycolor:#515e48;
    --bordercolor:#161914 ;
    --maintext:#fff;
    --secondarutext:#eeeeee;
    --themdotborder:#fff;
    --Bgpreview:rgba(81,90,72,0.8);
    --previewsh:#2a2f25;
    --buttonColor:#669966;
}   
